<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table border="1">
      <thead>
      <tr>
          <th>序号：</th>
          <th>姓名：</th>
          <th>密码：</th>
          <th>年龄：</th>
      </tr>
      </thead>
      <tbody>
      {{range $index,$user:=.}}
          <tr>
              <td>{{$index}}</td>
              <td>{{$user.Username}}</td>
              <td>{{$user.Password}}</td>
              <td>{{$user.Age}}</td>
          </tr>
      {{end}}
      </tbody>
  </table>
</body>
</html>